<footer id="is-footer-copyright-group">
  <div id="footer-top" class="footer">
    <div class="container-fluid text-center">
      <div class="logo-footer">
        <a class="navbar-brand logo" href="./">
          <img alt="Hire Vietnamese Software Engineers and Developers for Singapore Companies"
            data-src="./images/logo-while.png"
            class="main-logo img-responsive lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        </a>
      </div>
      <div id="copyright" class="footer-bottom" style="color: #fff;">©2020 Copyright by Inspius</div>
    </div>
  </div>
</footer>