<div id="wpfront-scroll-top-container">
  <img alt="" data-src="./images/icons/114.png" class="lazyload"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img
      src="./images/icons/114.png" alt="" /></noscript>
</div>
<script type="text/javascript">
  function wpfront_scroll_top_init() {
    if (typeof wpfront_scroll_top == "function" && typeof jQuery !== "undefined") {
      wpfront_scroll_top({
        "scroll_offset": 100,
        "button_width": 0,
        "button_height": 0,
        "button_opacity": 0.5,
        "button_fade_duration": 200,
        "scroll_duration": 400,
        "location": 1,
        "marginX": 10,
        "marginY": 10,
        "hide_iframe": false,
        "auto_hide": "on",
        "auto_hide_after": 2,
        "button_action": "top",
        "button_action_element_selector": "",
        "button_action_container_selector": "html, body",
        "button_action_element_offset": 0
      });
    } else {
      setTimeout(wpfront_scroll_top_init, 100);
    }
  }
  wpfront_scroll_top_init();
</script>
<script type="text/javascript">
  function atomicBlocksShare(url, title, w, h) {
    var left = (window.innerWidth / 2) - (w / 2);
    var top = (window.innerHeight / 2) - (h / 2);
    return window.open(url, title,
      'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=600, height=600, top=' +
      top + ', left=' + left);
  }
</script>
<script type="text/javascript" src="./js/wpfront-scroll-top.min.js" async="async" defer="defer"></script>
<script type='text/javascript' src='./js/atomic-blocks-dismiss.js'></script>
<script type='text/javascript' src='./js/smush-lazy-load.min.js'></script>
<script type='text/javascript' src='./js/bootstrap.bundle.min.js'></script>