<header id="header" class="site-header clearfix" role="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <nav class="menu-header navbar navbar-expand-lg align-items-center justify-content-between">
          <a class="navbar-brand logo" href="./">
            <img alt="Hire Vietnamese Software Engineers and Developers for Singapore Companies"
              data-src="./images/logo-while.png" class="main-logo img-responsive lazyload"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                alt="Hire Vietnamese Software Engineers and Developers for Singapore Companies"
                data-src="./images/logo-while.png" class="main-logo img-responsive lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                  class="main-logo img-responsive" src="./images/logo-while.png"
                  alt="Hire Vietnamese Software Engineers and Developers for Singapore Companies"></noscript></noscript>
          </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div id="navbarMenu" class="navbar-collapse collapse justify-content-end">
            <ul id="menu-main-menu" class="main-menu justify-content-end navbar-nav flex-wrap">
              <li id="menu-item-10"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-10">
                <a href="./#services" aria-current="page">How We Can Help</a></li>
              <li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154">
                <a href="./insights.html">Insights</a></li>
              <li id="menu-item-12"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-12">
                <a href="./#technology-inspius" aria-current="page">Tech Stacks</a></li>
              <li id="menu-item-13"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-13">
                <a href="./#we-work" aria-current="page">How We Work</a></li>
              <li id="menu-item-14"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-14">
                <a href="./#contact" aria-current="page">Contact Us</a></li>
              <li id="menu-item-146" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-146">
                <a href="tel:+6568163634">+65 6816 3634</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
