<div class="lastest-insights">
  <div class="lastest-insights-title">
    <div class="title-home d-flex align-items-center justify-content-between flex-wrap">
      <div class="title">Latest Insights</div>
      <div class="owl-nav">
        <button type="button" class="owl-prev"><img data-src="../images/left.png"
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
              data-src="../images/left.png" class="lazyload"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                src="../images/left.png"></noscript></noscript></button>
        <button type="button" class="owl-next"><img data-src="../images/right.png"
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
              data-src="../images/right.png" class="lazyload"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                src="../images/right.png"></noscript></noscript></button>
      </div>
      <a href="../insights.html"
        class="d-flex align-items-center see-all pr-0">See All <img
          data-src="../images/see-all.png" class="ml-2 lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
            src="../images/see-all.png" class="ml-2"></noscript></a>
    </div>
  </div>
  <div class="slider-insights-outside">
    <div class="slider-insights">
      <div class="owl-carousel owl-theme owl-insights grid-insights">
        <div class="item">
          <div class="img-item">
            <a href="./insight/software-outsourcing-guide-book-2020.html">
              <img data-src="../images/2020/06/Software_Outsourcing_Guidebook_Wallpaper-3-1.png"
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                  src="../images/2020/06/Software_Outsourcing_Guidebook_Wallpaper-3-1.png"></noscript>
            </a>
          </div>
          <div class="info-item mb-3">
            <div class="name-item">
              <a href="./insight/software-outsourcing-guide-book-2020.html">Software
                Outsourcing Guide Book for a successful project (2020)</a>
            </div>
          </div>
          <div class="date">- 30 Jun 2020 -</div>
        </div>
        <div class="item">
          <div class="img-item">
            <a
              href="./insight/software-outsourcing-in-vietnam-why-2020.html">
              <img data-src="../images/2020/06/Inspius-team-featured-img-1.png" class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                  src="../images/2020/06/Inspius-team-featured-img-1.png"></noscript>
            </a>
          </div>
          <div class="info-item mb-3">
            <div class="name-item">
              <a
                href="./insight/software-outsourcing-in-vietnam-why-2020.html">Software
                outsourcing in Vietnam for Singapore company? Why and Why not? (2020)</a>
            </div>
          </div>
          <div class="date">- 1 Jun 2020 -</div>
        </div>
        <div class="item">
          <div class="img-item">
            <a
              href="./insight/video-7-points-to-look-out-for-when-your-company-want-to-hire-vietnam-software-engineer.html">
              <img data-src="../images/2020/03/Untitled-design-1-1-1.png" class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                  src="../images/2020/03/Untitled-design-1-1-1.png"></noscript>
            </a>
          </div>
          <div class="info-item mb-3">
            <div class="name-item">
              <a
                href="./insight/video-7-points-to-look-out-for-when-your-company-want-to-hire-vietnam-software-engineer.html">[Video]
                7 points to look out for when your company want to hire Vietnam software
                engineer</a>
            </div>
          </div>
          <div class="date">- 13 May 2020 -</div>
        </div>
        <div class="item">
          <div class="img-item">
            <a
              href="./insight/manage-outsourcing-developers-efficientcy.html">
              <img data-src="../images/2020/04/featured-image-1-6-1.png" class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                  src="../images/2020/04/featured-image-1-6-1.png"></noscript>
            </a>
          </div>
          <div class="info-item mb-3">
            <div class="name-item">
              <a
                href="./insight/manage-outsourcing-developers-efficientcy.html">How
                to manage your tech team working from home or outsourcing developers
                efficiently</a>
            </div>
          </div>
          <div class="date">- 27 Apr 2020 -</div>
        </div>
        <div class="item">
          <div class="img-item">
            <a
              href="./insight/singapore-enterprise-development-grant-2020.html">
              <img data-src="../images/2020/04/featured-image-1-4-1.png" class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                  src="../images/2020/04/featured-image-1-4-1.png"></noscript>
            </a>
          </div>
          <div class="info-item mb-3">
            <div class="name-item">
              <a
                href="./insight/singapore-enterprise-development-grant-2020.html">Singapore
                Enterprise Development Grant (EDG) subsidises up 90 percent in 2020</a>
            </div>
          </div>
          <div class="date">- 1 Apr 2020 -</div>
        </div>
        <div class="item">
          <div class="img-item">
            <a href="./insight/how-scrum-help-tech-product-development.html">
              <img data-src="../images/2020/03/featured-image-1-1-1-1.png" class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                  src="../images/2020/03/featured-image-1-1-1-1.png"></noscript>
            </a>
          </div>
          <div class="info-item mb-3">
            <div class="name-item">
              <a
                href="./insight/how-scrum-help-tech-product-development.html">How
                early-stage tech startups can use SCRUM on product development</a>
            </div>
          </div>
          <div class="date">- 30 Mar 2020 -</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.owl-insights').owlCarousel({
    loop: true,
    margin: 22,
    nav: false,
    dots: false,
    dotsData: true,
    navText: [
      '<img  data-src="../images/left.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img  data-src="../images/left.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img src="../images/left.png"></noscript></noscript>',
      '<img  data-src="../images/right.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img  data-src="../images/right.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img src="../images/right.png"></noscript></noscript>'
    ],
    responsive: {
      0: {
        items: 1,
        nav: true,
        autoHeight: true
      },
      991: {
        items: 2,
        nav: false,
      },
      1200: {
        items: 3,
        nav: false,
      },
    },
  })

  $(document).ready(function () {
    var owl = $('.owl-insights');
    $('.owl-next').click(function () {
      owl.trigger('next.owl.carousel');
    })
    $('.owl-prev').click(function () {
      owl.trigger('prev.owl.carousel');
    })
  });
</script>